body {
  background-color: #070711;
  color: #eed895;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;

}

.Profile {
  color: #eed895;
  display: flex;
  flex-wrap: wrap;
}

.Profile span {
  font-family: 'Satisfy', cursive;
  color: white;
}

.Side a {
  font-family: 'Gloock', serif;
  color: #eed895;
  text-decoration: none;
  text-shadow: 0px 0px 10px #ffae00;
}

.Side a:hover {
  color: rgb(233, 228, 217);
  text-shadow: 0px 0px 20px #fcac00;
}

.orn2 {
  width: 150px;
  position: absolute;
  left: 50px;
}

.Side img:last-child {
  transform: rotate(90deg) translateY(-110px) translateX(-180px);
}

.Profile h2 {
  width: 100%;
  text-align: center;
}

.ProfileInfo {
  transform: translateY(-130px);
  width: 100%;
}

.ProfileAdicional {

  border: 2px solid #7e6c38;
  margin: 10px;
  margin-top: -60px;
}

.ProfileAdicional p {
  margin: 10px;
}

.ProfileRank svg {
  width: 40px;
  margin: 5px;
}

.ProfileRank {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  overflow-x: hidden;
  max-width: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guild {
  width: 100%;
}

.canvasGui {
  width: 100%;
}

.FadeGuild {
  width: 100%;
  height: 100px;
  background: rgb(41, 8, 35);
  background: linear-gradient(180deg, rgba(41, 8, 35, 0) 0%, rgba(7, 7, 17, 1) 100%);
  z-index: 100;
  transform: translateY(-100px);
}

.FadeProfile {
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgba(41, 8, 35, 0) 0%, rgba(7, 7, 17, 1) 100%);
  transform: translateY(-100px);
}

.roll {
  width: 150%;
  transform: translateX(-110px);
  position: absolute;
  z-index: -10;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: transparent;
  transition: 0.3s all linear;
}

.guildApp {
  font-family: 'Playfair Display', serif;

}

.guildApp h1 {
  text-align: center;
}

.guildApp p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.Profile {}

.Profile img {
  width: 100%;
  transform: scale(1.05) translateY(-10px);
  animation: breath 10.5s infinite;

}

@keyframes breath {
  0% {
    transform: scale(1.05) translateY(-10px);

  }



  50% {
    transform: scale(1.0) translateY(0px);

  }



  100% {
    transform: scale(1.05) translateY(-10px);

  }
}

.missions {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#resultado {
  font-size: 24px;
  font-weight: bold;
}

.circus {
  height: 100vh;
  width: 100%;
  z-index: -10;
}

button {
  border: 2px solid #eed895;
  color: #eed895;
  background-color: rgb(172, 11, 11);
  padding: 05px 10px;
  border-radius: 5px;
  border-bottom: 7px solid #eed895;
  font-family: 'Gloock', serif;
  font-weight: bold;
  letter-spacing: 1.4px;
  transition: 0.2s all linear;
}

button:hover {
  border-bottom: 2px solid #eed895;
  transform: translateY(5px);
}

nav svg {
  width: 30px;
  margin: 20px;
}

.MonstersApp span {
  font-family: 'Satisfy', cursive;
  font-size: x-large;
  margin-left: 20px;
}

.Map {
  width: 100% !important;
  z-index: -100;
  transition: 1.5s all linear;
  height: 637px;

}

.Mapa {
  position: absolute;
  flex-direction: column;
  display: none;
  z-index: 100;
  opacity: 0;
  margin-top: 80px;
  margin-left: 140px;
  transition: 1.8s all linear;
  filter: drop-shadow(0px 0px 15px rgb(36, 33, 33));
}

.Mapa img {
  margin-bottom: 10px;
}

.FronteiraUnida {
  width: 100%;
  position: absolute;
  z-index: -101;
  opacity: 0;
  transition: 1.5s all linear;
}

.FronteiraUnidaShop {
  z-index: -200;
  transition: 2s all linear;
  position: absolute;
  left: 130px;
  transform: rotate(20deg);
  top: 305px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0.445);
  border-radius: 5px;
}

.Mapa::after {
  content: '';
  width: 10%;
  height: 5%;
  background-color: rgb(155, 17, 17);
  position: absolute;
  bottom: 20px;
  margin-left: 47%;
  border-radius: 50%;
  transform: translateX(-5px);
  z-index: -1;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }



  50% {
    opacity: 0;
  }



  100% {
    opacity: 1;
  }
}

.Mapa::before {
  content: '';
  width: 100%;
  height: 100px;
  z-index: -1;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.575) 0%, rgba(114, 114, 143, 0) 75%);
  position: absolute;
  bottom: -40px;
}

.Mapa img {
  width: 100px;

  transform: rotate(180deg);
}

.Canvas {
  max-height: 637px;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.light {
  position: absolute;
  top: 0;
  margin-left: 85px;
  background: rgb(252, 172, 0);
  background: radial-gradient(circle, rgba(252, 172, 0, 1) 0%, rgba(114, 114, 143, 0) 75%);
  width: 200px;
  height: 200px;
  animation: light 7.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

@keyframes light {
  0% {
    opacity: 0.7;
  }

  20% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.4;
  }

  65% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.7;
  }
}

@keyframes apear {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes disapear {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.light2 {
  position: absolute;
  top: 70px;
  left: 300px;
  background: rgb(252, 172, 0);
  background: radial-gradient(circle, rgba(252, 172, 0, 1) 0%, rgba(114, 114, 143, 0) 75%);
  width: 100px;
  height: 100px;
  animation: light2 6.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

@keyframes light2 {
  0% {
    opacity: 0.7;
  }

  20% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.4;
  }

  65% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.7;
  }
}

.missions form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(172, 11, 11);
}

.miss {
  width: 100%;
}

.Login {
  z-index: 100;
  position: absolute;
  right: 1%;
  top: 0;
  margin: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.Login:hover {
  color: #1d1b04;
}

.title {
  z-index: 100;
  font-family: 'Gloock', serif;
  letter-spacing: 2px;
  position: absolute;
  color: rgb(233, 228, 217);
  text-align: center;
  width: 100%;
  margin-top: 500px;
  text-shadow: 0px 0px 10px #fcac00;
  animation: flip-in-hor-bottom 5.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

.subtitle {
  z-index: 100;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  position: absolute;
  font-weight: lighter;
  color: #eed895;
  text-align: center;
  font-size: large;
  width: 100%;
  margin-top: 550px;
  text-shadow: 0px 0px 10px #fcac00;
}

@keyframes flip-in-hor-bottom {
  0% {

    opacity: 1;
  }

  50% {
    letter-spacing: 3px;
  }

  100% {
    opacity: 1;
  }
}

#iframeAudio {
  display: none;
}

.Fade {
  z-index: 100;
  margin: 0;
  width: 100% !important;
  height: 200px;
  position: absolute;
  margin-top: 440px;
  background: rgb(34, 193, 195);
  background: linear-gradient(180deg, rgba(34, 193, 195, 0) 0%, #070711 100%);
}

.Scroll {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 40px;
  font-size: x-large;
  font-family: 'Playfair Display', serif;
}

.Scroll svg {
  animation: updown 3.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;

}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

.coofe {
  width: 100%;
}

.card {
  width: 48%;
  margin: 0.5%;
  height: 207px;
  transition: 0.2s all linear;
}

.card:hover {
  transform: scale(1.09);
}

.Friends {
  display: flex;
  flex-wrap: wrap;
}

.card h2 {
  transform: translateY(-80px);
  text-shadow: 0px 0px 5px #070711;
  text-align: center;
}

.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.missions form {
  position: absolute;
  margin-top: -160px;
}

select {
  font-size: 1.2em;
  padding: 5px;
}

#nome {
  margin-top: 50px;
  font-size: 1em;
}

.starsCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card svg {
  transform: translateY(-95px);
  width: 30px;
}

.card img {
  width: 100%;
  border-radius: 15px;
}

.Side {
  z-index: 10000;
  width: 50%;
  height: 10vh;
  display: flex;
  left: 0;
  position: fixed;
  background: #070711;
  border-right: 2px solid #eed895;
  color: #eed895;
  background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#070711 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #7e6c38 75px, #7e6c38 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #7e6c38 76px, #7e6c38 77px, transparent 78px, transparent 109px),
    #070711;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  flex-direction: column;
  transform: translateX(-500px);
}

.screen {
  background-color: rgba(11, 108, 172, 0.664);
  display: flex;
  text-align: center;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  border-bottom: 3px dashed #eed895;
  border-top: 3px dashed #eed895;
}

.screen::after {
  content: 'Voce Ganhou um ticket premiado';
  position: absolute;
  font-size: small;
  transform: translateY(100px) translateX(58px);
  font-weight: bold;
  color: #070711;
}

.star {
  position: absolute;
  width: 50px;
  transform: translateY(15px);
  z-index: 100;
}

.front h2 {
  color: #eed895;

  text-align: center;
  transform: translateY(-10px);
  width: 100%;
}
.monsterPage{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #110e0e57;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 0;
}
.monsterPage .cardd{
  position: absolute;
  top: 0;
  margin: 0;
  transform: translateX(0px);
  margin-top: 300px;
  opacity: 1;
}
.monst{
  transition: 1.5s all 
  linear;
}
.imgWar{
  width: 100%;
}
.TitlesWar{
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 11;
    color: #996b40  ;
}
.monsterClick{
  width: 70px;
  height: 70px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 320px;
  background-color: transparent;
  position: absolute;
  z-index: 1001;
  top: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.cardd {
  font-family: 'Source Sans Pro', sans-serif;
  height: 320px;
  border-radius: 5px;
  width: 45%;
  margin: 1.5%;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
  border: 2px solid #eed895;
  transform: scale(3) translate(-20px, 260px);
}

.imgFlorest {
  opacity: 1;
  width: 100%;
  animation: cutscene 10s linear;
  z-index: -1;
}
.imgFlorestMonstr{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: monstr 60s linear;
}
.imgOver {
  width: 100%;
  height: 770px;
  overflow: hidden;
  z-index: -2;
  animation: rotate 1.5s infinite;
}

@keyframes cutscene {
  0% {
    transform: scale(3) translate(-20px, 260px);
  }

  10% {}

  80% {
    transform: scale(3) translate(-20px, -200px);
  }

  90% {
    transform: scale(3) translate(-20px, -200px);

  }

  100% {
    transform: scale(1);
  }
}
@keyframes monstr {
  0% {
    opacity: 0;
  }
  19%{
    opacity: 0;
  }
  20%{
    opacity: 0.1;
  }
  100% {
    opacity: 1
  }
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
.TitlesDark {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 11;
  animation: text-apear 10s linear;
  color: #996b40  ;

}
.TitlesDark h3{
  font-family: 'Amatic SC', cursive;
  color: rgb(155, 17, 17);
}
@keyframes rotate {
  0% {
    transform: scale(1);

  }


  50% {
    transform: scale(1.05);

  }

  100% {
    transform: scale(1);



  }
}

@keyframes not {
  0% {}

  100% {}
}

@keyframes text-apear {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}
.inputs{
  opacity: 0;
}
.fade {
  width: 100%;
  position: absolute;
  height: 500px;
  background: rgb(41, 8, 35);
  background: linear-gradient(180deg, rgba(41, 8, 35, 0) 0%, #030202 30%);
  transform: translateY(-200px);
  z-index: 10;
}

/*Image*/
.card-image {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#070711 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #7e6c38 75px, #7e6c38 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #7e6c38 76px, #7e6c38 77px, transparent 78px, transparent 109px),
    #070711;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.card-image img {
  width: 100%;
}

/*Description */
.card-description {
  transform: translateY(100%);
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #eed895;
  color: #070711;
  height: 80%;
  bottom: 0;
  z-index: 2;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.2rem;
}

.cardd h5 {
  position: absolute;
  color: white;
  text-shadow: 0px 0px 3px black;
  z-index: 1;
  bottom: 0;
  margin: 0;
  margin: 5px;
}

/*Text*/
.text-title {
  font-size: 1.4em;
  margin: 0;
  font-weight: 700;
}

.text-Rank {
  margin: 0;
}

.text-Star {
  margin: 0;
}

.text-body {
  margin: 0;
  font-size: 1em;
  line-height: 150%;
}


/* Hover states */

.cardd:hover .card-description {
  transform: translateY(0%);

}

.screen img {
  width: 100%;
}

.limiter {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.Side ul {
  margin: 0;
  padding: 0;
}

.Start {
  position: absolute;
  top: 580px;
  z-index: 100;
}

.Side svg {
  width: 30px;
  background-color: #7e6c3846;
  padding: 10px;
  border-radius: 50%;
  color: #eed895;
  margin: 10px;
}

.Side li {
  list-style: none;
  margin: 10px;
  font-size: xx-large;
  transition: 0.3s all linear;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s all linear;
}

@keyframes slide-in-fwd-tl {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-bck-tl {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}

.canvas1 {
  margin-top: 100px;

}

.canvas1 h1 {
  font-family: 'Gloock', serif;
  color: #eed895;

  font-weight: lighter;
  text-align: center;
}

.OnlyCell {
  width: 100%;
  background-color: #7e6c38;
  height: 100vh;
  position: fixed;
  z-index: 10000000000;
  align-items: center;
  justify-content: center;
  display: flex;
}

.canvas1 p {
  color: #eed895;
  margin: 15px;
  font-family: 'Playfair Display', serif;
  font-size: large;
}

.ornnament {
  height: 306px;
  margin: 20px auto;
  position: relative;
  width: 306px;
}

.imgHistory {
  width: 100%;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  z-index: -100;
}

.orn {
  width: 306px;
  height: 306px;
  z-index: 100;
}

footer {
  width: 100%;
  padding: 20px;
  margin-top: 50px;
  background-color: #eed895;
  color: black;
}

.canvas2 {
  width: 80%;
  margin-left: 50%;
  transform: translate(-50%);
  padding: 10px;
  border: 1px solid #eed895;

}

.canvas2 p {
  font-family: 'Playfair Display', serif;
}

hr {
  margin: 50px;
  border: 1px solid #eed895;
}

.canvas2 h1 {
  width: 100%;
  text-align: center;
  font-family: 'Gloock', serif;
}

.carousel {
  width: 100% !important;
}

.legend {
  background-color: transparent !important;
  font-size: larger !important;
  font-family: 'Gloock', serif;

}

.carousel-root {
  width: 100% !important;
}

.canvas3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas3 h1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #eed895;
  font-family: 'Gloock', serif;
}

.canvas3 svg {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.canvas3 p {
  font-family: 'Playfair Display', serif;
  margin: 15px;
}

.canvas3 img {
  width: 100%;
}

.canvas4 img {
  width: 100%;
}

.Scroll img {
  position: absolute;
  width: 150px;
  left: 0;
  transform: translateY(-60px) translate(-50%);
  margin-left: 50%;

}

@media screen and (max-width: 426px) {
  .OnlyCell {
    visibility: hidden;
  }
}

/*Login*/
.login-box {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  font-family: 'Gloock', serif;
  opacity: 1;
  transition: 0.3s all linear;
  background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#070711 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #7e6c38 75px, #7e6c38 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #7e6c38 76px, #7e6c38 77px, transparent 78px, transparent 109px),
    #070711;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  transform: translateX(-1000px);
  box-sizing: border-box;
  box-shadow: 0 0px 5px #fcac00;
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 50px;
  padding: 0;
  color: #7e6c38;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #7e6c38;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #7e6c38;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #7e6c38;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #7e6c38;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #7e6c38;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.login-box a:hover {
  background: #fcac00;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fcac00);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fcac00);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fcac00);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fcac00);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #7e6c38;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}

/*End Login*/

.content-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	filter: drop-shadow(5px 5px 25px black);
}

.content {
	position: relative;
	top: 10px;
	background: url("https://i.imgur.com/0kjMcUe.png");
	background-size: 1000px;
	background-position: center right;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
	height: auto;
  color: #070711;
	padding: 30px 80px 50px 80px;
	z-index: 1;
	filter: brightness(0.95) sepia(30%) saturate(80%);
	border-radius: 30px;
	height: 90vh;
	clip-path: polygon(
		0% 0%,
		0% 93%,
		5% 98%,
		6% 99%,
		8% 95%,
		12% 94%,
		15% 97%,
		17% 93%,
		20% 98%,
		22% 97%,
		25% 99%,
		31% 94%,
		35% 93%,
		39% 96%,
		43% 93%,
		45% 94%,
		47% 95%,
		50% 92%,
		52% 96%,
		54% 93%,
		58% 92%,
		60% 95%,
		62% 93%,
		65% 96%,
		69% 93%,
		72% 93%,
		75% 94%,
		79% 97%,
		81% 94%,
		85% 93%,
		88% 92%,
		90% 95%,
		93% 93%,
		95% 92%,
		97% 95%,
		100% 97%,
		100% 0%
	);
	overflow: auto;
}
@media screen and (max-width: 560px) {
	.content {
		padding: 30px 30px 50px 30px;
		width: 80%;
	}
}

.color1{color:#000000}/*MOUNTAIN MEADOW*/
.color2{color:#ff1a01/*TALL POPPY*/}


.carde {
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 130%;
	left: 50%;
	width: 300px;
	height: 400px;
	background: #ebd1ab;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}
.carde2 {
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 185%;
	left: 50%;
	width: 300px;
	height: 400px;
	background: #ebd1ab;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}
.targets-area {
  position: relative;
  width: 100%;
  height: 100vh;
}

.target {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(62, 48, 197);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.target:hover {
  transform: scale(1.2);
}
.down{

  width: 1000%;
  height: 1300px ;
  background-color: transparent;  
  top: 200%;
}
.carde:hover,.carde2:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(0deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.carde:before,.carde2:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #7a6c56;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.carde:after,.carde2:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #7a6c56;
	transform-origin: left;
	transform: skewY(-45deg);
}
.carde .imgBox ,.carde2 .imgBox{
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.carde .bark,.carde2 .bark {
	position: absolute;
	background: rgb(228, 203, 166);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.carde .imgBox img,.carde2 .imgBox img  {

width:92.5%;
border: 11px solid #493f2f;
height: 375px;
}

.carde:hover .imgBox ,.carde2:hover .imgBox{
	transform: rotateY(-135deg);
}

.carde:hover .bark,.carde2:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.carde .details ,.carde2 .details{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 10px;
}

.carde .details p,.carde2 .details p {
	font-size: 15px;
}

.carde .details h4,.carde2 .details h4 {
	text-align: center;
}
.RandomClickGame {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 10px;
  margin: 10px;
  margin-top: 70px;
  background: #070711;
  color: #eed895;
  background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#070711 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #7e6c38 75px, #7e6c38 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #7e6c38 76px, #7e6c38 77px, transparent 78px, transparent 109px),
    #070711;
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  border: 2px solid #7e6c38;
}
.tct{
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.tct .bg{
  position: absolute;
  width: 100%;
  margin-left: 50%;
  transform: translate(-50%);
  z-index: -100;
  height: 100vh;
}

.target {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(172, 11, 11);
  border: 5px solid #fcac00;
  box-shadow: 0px 0px 15px #fcac00;
z-index: 1000000;
  cursor: pointer;
}
.target::after{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  content: '';
  top: 10px;
  box-shadow: 0px 0px 10px white;
  right: 10px;
  position: absolute;
  z-index: 100;
}
.game-over-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(155, 17, 17);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}