body{
  width: 425px;
  background-color: #8A817C;
  color: #F4F3EE;
}
nav{
  position: absolute;
  width: 5%;
  top: 0;
  padding: 15px 10px;
  padding-right: 30px;
  border-radius: 0px 10px 500px 0px;
  background-color: #490f3f;
transition: 0.3s all linear;
}
nav:hover{
  background-color: #290823;
}
nav svg{
  width: 30px;
}
.Map{
  width: 100%;
}
.light{
  position: absolute;
  top: 0;
  margin-left: 50px;
  background: rgb(252,172,0);
  background: radial-gradient(circle, rgba(252,172,0,1) 0%, rgba(114,114,143,0) 75%);  
  width: 200px;
  height: 200px;
  animation: light 7.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}
@keyframes light {
  0% {
    opacity: 0.7;
  }
  20%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.4;
  }
  65%{
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}
.Login{
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  margin-top: 10px;
  font-weight: lighter;
  padding: 02px 10px;
  background-color: #490f3f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.Login:hover{
  background-color: #290823;
}
.title{
  font-family: 'Gloock', serif;
  letter-spacing: 2px;
}
.music{
}