body{
  width: 425px;
  background-color: rgba(24,24,22,1);
  color: #F4F3EE;
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
}
#root{
  overflow-y: hidden;
}
nav{
  position: absolute;
  width: 5%;
  top: 0;
  padding: 15px 10px;
  padding-right: 30px;
  border-radius: 0px 10px 500px 0px;
  background-color: #490f3f;
transition: 0.3s all linear;
}
nav:hover{
  background-color: #290823;
}
nav svg{
  width: 30px;
}
.Map{
  width: 100% !important;
}
.light{
  position: absolute;
  top: 0;
  margin-left: 85px;
  background: rgb(252,172,0);
  background: radial-gradient(circle, rgba(252,172,0,1) 0%, rgba(114,114,143,0) 75%);  
  width: 200px;
  height: 200px;
  animation: light 7.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}
@keyframes light {
  0% {
    opacity: 0.7;
  }
  20%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.4;
  }
  65%{
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}

.light2{
  position: absolute;
  top: 70px;
  left: 300px;
  background: rgb(252,172,0);
  background: radial-gradient(circle, rgba(252,172,0,1) 0%, rgba(114,114,143,0) 75%);  
  width: 100px;
  height: 100px;
  animation: light2 6.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
}

@keyframes light2 {
  0% {
    opacity: 0.7;
  }
  20%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.4;
  }
  65%{
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}
.Login{

  position: absolute;
  right: 1%;
  top: 0;
  margin: 0;
  margin-top: 10px;
  font-weight: lighter;
  padding: 02px 10px;
  background-color: #490f3f;
  display: flex;
  align-items: center;
  display: none;
  justify-content: center;
  border-radius: 10px;
}
.Login:hover{
  background-color: #290823;
}
.title{
  font-family: 'Gloock', serif;
  letter-spacing: 2px;
  position: absolute;
  font-weight: lighter;
  color:rgb(252,172,0);
  text-align: center;
  width: 100%;
  margin-top: 500px;
  text-shadow: 0px 0px 10px rgb(252,172,0);
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

#iframeAudio{
  display: none;
}
.Fade{
  margin: 0;
  width: 100% !important;
  height: 200px;
  position: absolute;
  margin-top: 440px;
  background: rgb(34,193,195);
  background: linear-gradient(180deg, rgba(34,193,195,0) 0%, rgba(24,24,22,1) 100%);
}